<div>
	<table width="100%">
		<tr>
			<td width="30%"><h2 translate="player.title">Customers</h2></td>

			<td><a href="#/player"><button type="submit"
						class="btn btn-primary" style="float: right; width: 175px;">
						<span class="glyphicon glyphicon-flash" /><span
							translate="player.addPlayerBtn" />
					</button></a></td>
		</tr>
	</table>
	<br />	
	<div class="table-responsive">
		<table class="table table-striped">
			<div class="alert alert-success" ng-show="success"
				translate="player.removedSuccess">
				<strong>Player removed</strong>
			</div>
			<div class="alert alert-danger" ng-show="error"
				translate="player.removedError">
				<strong>Player cannot be removed.</strong>
			</div>		
			<thead>
				<tr>
					<th width="15%"><label translate="player.firstName">Name</label></th>
					<th width="15%"><label translate="player.lastName">Last Name</label></th>
					<th width="12%"><label translate="player.nationality">Nationality</label></th>
					<th width="13%"><label translate="player.bodyColor">Body of color</label></th>
					<th width="18%"><label translate="player.positionInTeam">Position in team</label></th>
					<th width="10%"><label translate="player.shirtNumber">Shirt number</label></th>
					<th width="15%"></th>

				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="player in players">
					<td>{{player.firstName}}</td>
					<td>{{player.lastName}}</td>
					<td>{{player.nationality}}</td>
					<td>{{player.bodyColor}}</td>
					<td>{{player.positionInTeam}}</td>
					<td>{{player.shirtNumber}}</td>
					<td align="right">
					
					<a href="#/player/{{player.id}}" style="color: black;text-decoration:none">
                 <button type="submit" class="btn btn-default btn-in-row" ng-click="" data-placement="top" data-content="player.viewButton" data-toggle="popover" data-trigger="hover">
                   <span style="color: #428bca;" class="glyphicon glyphicon-eye-open"></span>
                </button>
             </a>
						 <a href="">		                     						
               <button style="margin-left:5px;" type="submit" class="btn btn-default btn-in-row"
                       ng-click="confirmClick() && deletePlayer(player.id)" confirm-click data-placement="top" data-content="player.deleteButton" data-toggle="popover" data-trigger="hover">
                 <span style="color: #d43f3a;" class="glyphicon glyphicon-remove-circle"></span>
               </button></a>									
					</td>
				</tr>
			</tbody>
		</table>
		<div class="text-center" ng-hide="hidePagination">
			<pagination total-items="totalItems" ng-model="currentPage"
				ng-change="pageChanged()" items-per-page="itemsPerPage"
				previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
				last-text="&raquo;" boundary-links="true" max-size="maxSize"
				num-pages="numPages" />
			<div class="paginationDetails">
				<label translate="global.pagination.page">Page:</label>
				{{currentPage}} / {{numPages}}
			</div>
		</div>
	</div>
</div>

