<div>
	<table width="100%">
		<tr>
			<td width="30%"><h2 translate="statistics.title">Statistics</h2></td>
        </tr>
        <tr>
        <td>
           <label translate="player.positionInTeam">Position in team</label>
            <select class="form-control" name="team"
             ng-model="team" ng-options="team.teamName for team in teams" />                   
        
        </td>
			<td>
			<button type="submit"
						class="btn btn-success" ng-click="downloadCSVByName(team.id)" style="float: right; width: 175px;">
						<span class="glyphicon glyphicon-plus" /> <span
							translate="statistics.downloadCSVByName" />
					</button></td>
					<td>				
					<button type="submit"
						class="btn btn-success" ng-click="downloadCSVByShirtNumber(team.id)" style="float: right; width: 175px;">
						<span class="glyphicon glyphicon-plus" /> <span
							translate="statistics.downloadCSVByShirtNumber" />
					</button></td>
		</tr>
	</table>
	<br />		
</div>

