<div>
	<table width="100%">
		<tr>
			<td width="30%"><h2 translate="statistics.title">Statistics</h2></td>

			<td><button type="submit"
						class="btn btn-success" ng-click="downloadCSVByName()" style="float: right; width: 175px;">
						<span class="glyphicon glyphicon-plus" /> <span
							translate="statistics.downloadCSVByName" />
					</button></td>
					<td><button type="submit"
						class="btn btn-success" ng-click="downloadCSVByShirtNumber()" style="float: right; width: 175px;">
						<span class="glyphicon glyphicon-plus" /> <span
							translate="statistics.downloadCSVByShirtNumber" />
					</button></td>
		</tr>
	</table>
	<br />		
</div>

